<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilos.css">
  <title>Agenda con backbone</title>

<!-- vista de contacto -->
  <script type="text/template" id="contact_template">
    <div style="text-align:center;" class="detail-contact" data-id=<%= id %>>
      <img class="avatar img-circle img-responsive" src="<%= img %>" width="200">
      <h1 id="contact_name"><%= name %></h1>
      <p id="contact_email"><span class="glyphicon glyphicon-envelope"></span> <%= email %></p>
      <p id="contact_phone"><span class="glyphicon glyphicon-phone"></span> <%= phone %></p>
    </div>
  </script>
<!-- /vista de contacto -->
<!-- vista de el boton contato -->
  <script type="text/template" id="boton_template">
    <div class="list-group">
      <a id="r-contact" data-id=<%= id %> href="#" class="list-group-item">
       <span class="glyphicon glyphicon-user"></span> <%= name %>
      </a>
    </div>
  </script>
<!-- /vista de boton contacto -->
</head>
<body>
<!-- Navbar -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Backbone</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#contactos">Contactos <span class="sr-only">(current)</span></a></li>
        <li><a href="#sobre" id="r-about">Sobre</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#ayuda" id="r-help">Ayuda</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- /Navbar -->
<div class="container">
    <button class="btn btn-primary boton" style="margin-top:16px;">Agregar Contacto</button> <br><br>
    <div class="panel panel-primary texto">
      <div class="panel-heading">Nuevo Contacto
       <button class="close btn-close">x</button>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Nombre" id="name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email" id="email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Telefono</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Telefono" id="phone">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" id="create-contact" class="btn btn-default add-contact">Agregar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="col-sm-3">
      <!-- Contactos -->
      <h2>Contactos <span class="badge account"></span></h2>
      <div id="Contacts">
      </div>
      <!-- /contactos -->
    </div>
    <div class="col-sm-9">
      <!-- contact details -->
      <div id="details"></div>
      <!-- /contact details -->
    </div>
</div>
<script src="js/lib/jquery-1.11.2.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/main.js"></script>
<script src="js/models/Contact.js"></script>
<script src="js/views/ContactView.js"></script>
<script src="js/views/BotonView.js"></script>
<script src="js/router/Router.js"></script>
</body>
</html>